* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: "Poppins";
    src: url("./Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins";
    src: url("./Poppins-SemiBold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Lato";
    src: url("./Lato-Regular.ttf");
}
@font-face {
    font-family: "Lato";
    src: url("./Lato-Italic.ttf");
    font-style: italic;
}

h1 {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 46px;
  font-weight: normal;
  color: #000;
}

h2 {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #102542;
}

h3 {
  font-family: "Lato", Arial, sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: normal;
  color: #818181;
}

h4 {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #000;
  display: inline-block;
  width: 202px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h5 {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  color: #818181;
  display: inline-block;
  width: 202px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h4 a {
  color: #000;
}

h4:hover {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a {
  text-decoration: none;
}

a:hover {
  color: #F87060;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

p {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #000;
}

nav {
  height: 86px;
  width: 100%;
  z-index: 9999;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menumobile {
  display: none;
}

nav .logo {
  height: 86px;
  display: flex;
}

nav .logo img {
  height: 60%;
  align-self: center;
}

nav .tagline {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin: 0 12px;
}

nav ul li a {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  color: #818181;
  position: relative;
}

nav ul li a:hover {
  color: #F87060;
}

nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -3px;
  background-color: #F87060;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


nav ul li a.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.featured {
  position:relative;
}

.feature {
  display: none;
  height: 810px;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

  @-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

#feature1 {
    background-image: url("../images/becomingfeature.jpg");
}

#feature2 {
    background-image: url("../images/tidyingupfeature.jpg");
}

.featured .descbox {
  width: 436px;
  height: 276px;
  background-color: rgba(255, 255, 255, 0.65);
  position: absolute;
  right: 160px;
  top: 245px;
  padding: 64px;
}

.featured .descbox h3 {
  margin: 30px 0;
}

.featured .descbox a {
  color: #818181;
}

.featured .descbox a:hover {
  color: #F87060;
}

.featured .arrow img {
  width: 40px;
  opacity: 0.5;
  position: absolute;
  right: 180px;
  top: 427px;
}

.featured .arrow img:hover {
  opacity: 0.85;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  transform: translate(8px);
  cursor: pointer;
}

.about {
  height: 200px;
  padding: 120px 0;
  background-image: linear-gradient(to top right, #102542, #1F4682);
}

.about {
  display: flex;
  justify-content: space-evenly;
}

.about .logo {
  height: 120px;
  align-self: center;
}

.about .logo img {
  height: 100%;
}

.about h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.about p {
  color: #fff;
  width: 800px;
  margin: auto;
  text-align: center;
}

.bookshelf {
  padding: 120px 0 0;
}

.bottomshelf {
  margin-bottom: 120px;
}

.bookshelf h1 {
  margin-bottom: 80px;
  text-align: center;
}

.bookshelf .books {
  width: 1190px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.bookshelf .allbooks {
  width: 958px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bookshelf .book {
  width: 202px;
  margin: 0 15px 30px;
}

.bookshelf .book img {
  width: 100%;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, .5);
}

.bookshelf .book img:hover {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  transform: scale(1.08);
}

.bookshelf .bookinfo {
  text-align: center;
}

.bookshelf .bookinfo h4 {
  margin-top: 10px;
}

.search {
  height: 250px;
  width: 100%;
  padding-top: 86px;
  background-image: linear-gradient(to top right, #102542, #1F4682);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}


.searchbar input {
  height: 45px;
  width: 640px;
  border: 0;
  border-radius: 45px;
  padding: 0 30px;
  font-size: 18px;
  color: #818181;
}

.overview {
  height: auto;
  margin: 0 200px 64px;
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.overview .cover {
  width: 280px;
  min-width: 280px;
}

.overview .cover img {
  width: 100%;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, .5);
}

.overview .desc {
  width: 710px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overview .desc h2, h3, h6, p {
  margin: 10px 0;
}

.overview .desc h6 {
  font-family: "Poppins", Arial sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #102542;
}

.overview .link {
  width: 200px;
  height: 42px;
  margin: 20px 0;
  border-radius: 45px;
  background-color: #F87060;
  text-align: center;
  line-height: 42px;
  vertical-align: middle;
  font-size: 20px;
  font-family: "Lato", Arial, sans-serif;
  color: #fff;
}

.overview .link:hover {
  background-color: #FE9F76;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.highlights {
  padding: 64px 0;
  background-color: #ebebeb;
}

.highlights p {
  margin: 30px auto;
  width: 800px;
}

.highlights h2 {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1190px) {

  .bookshelf {
    width: 100%;
  }

  .bookshelf .books {
    width: 100%;
    flex-wrap: wrap;
  }

  .bookshelf .allbooks {
    width: 100%;
    flex-wrap: wrap;
  }

  .about {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about .logo {
    margin-bottom: 120px;
  }

  .about .logo img {
    text-align: center;
  }

  .about .text {
    width: 100%;
  }

  .about p {
    width: auto;
    margin: 0 120px;
  }

  .highlights p {
      width: 60%;
  }

}

@media screen and (max-width: 840px){

/* MOBILE MENU */

  .menudesk {
    display: none;
  }

  .menumobile {
    display: flex;
  }

  .menumobile .logo {
    margin: 0 30px;
  }

  .menumobile .text {
    display: flex;
    margin-right: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .menumobile .text .tagline {
    font-size: 14px;
    text-align: right;
  }

  .featured {
    position: static;
  }

  .feature {
    position: static;
    padding-top: 245px;
    height: 565px;
  }

  .featured .descbox {
    position: static;
    margin: auto;
  }

  .featured .arrow img {
    top: 380px;
    right: 140px;
  }

  .searchbar {
    width: 500px;
  }

  .searchbar input {
    width: 440px;
  }

  .overview {
    margin: 0 5% 64px;
  }

  .overview .cover {
    min-width: 200px;
  }

}

  @media screen and (max-width: 640px) {
    .menumobile .text .tagline {
      display: none;
    }

    .featured {
      width: 100%;
    }

    .featured .descbox {
      position: static;
      width: calc(100% - 128px);
      height: auto;
    }

    .featured .arrow img {
      top: 380px;
      right: 10px;
    }

    .highlights p {
        width: 80%;
    }

    .overview {
      flex-wrap: wrap;
    }

    .overview .desc {
      margin-left: 0;
    }

    .overview h2, .overview h3, .overview h6 {
      text-align: center;
    }

    .overview .link {
      margin: 20px auto;
    }


  }

  @media screen and (max-width: 540px) {
    .searchbar {
      width: 260px;
    }

    .searchbar input {
      width: 200px;
    }
}
