* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./Lato-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lato";
    src: url("./Lato-Italic.ttf");
    font-style: italic;
    font-weight: normal;
}

h1 {
  font-family: "Roboto";
  font-size: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-family: "Lato";
  font-weight: normal;
  font-size: 20px;
}

p {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}

.book_desc {
  text-align: center;
}

.book_desc h3 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
}

.book_desc h4 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}

.book_desc h5 {
  font-family: "Lato";
  font-weight: normal;
  font-size: 14px;
  color: #888888;
}

.book_desc p {
  font-family: "Lato";
  font-weight: normal;
  font-size: 16px;
}

.navbar {
  height: 100px;
  overflow: hidden;
  width: 100%;
  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-fixed-top.scrolled {
  background-color: #46B6E5 !important;
  transition: background-color 200ms linear;
}

.navbar .logo {
  height: 84px;
}

.navbar .logo img {
  height: 100%;
}

.navbar .links{
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navbar .links a {
  margin: 0 12px;
  font-family: "Lato";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.navbar .links a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -3px;
  background-color: #FFA200;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar .links a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar .links a .active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar .icon {
  display: none;
}

.landing {
  height: 100vh;
  background-image: url("../images/leading_img.png");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.landing h1 {
  color: #fff;
  text-shadow: 1px 1px 10px rgba(0,0,0, 0.5);
}

.landing .container {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin-right: 50px;
  text-align: center;
}

.email_grab {
  /* background-color: red; */
  padding: 20px;
}

.email_grab p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 24px;
}

.email_input {
  /* background-color: green; */
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, .1);
}

.email_input  input {
  width: 275px;
  height: 50px;
  border: none;
  border-radius: 50px 0 0 50px;
  padding: 0 25px;
}

.email_input input[type="email"] {
  font-size: 16px;
}

.email_input button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 0 50px 50px 0;
  background-color: #46B6E5;
  font-family: "Roboto";
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
}

.email_input button:hover {
  background-color: #46A9E5;
  cursor: pointer;
}

.about {
  padding: 100px;
  display: flex;
}

.about .container {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about_point {
  flex: 1;
  width: 300px;
}

.about_img {
  height: 215px;
  text-align: center;
  margin-bottom: 24px;
}

.about_img img {
  height: 100%;
}

.team {
  padding: 100px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ), url("../images/the_idea_background.png");
  background-size: cover;
  display: flex;
}

.team .container {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}

.team .title {
  max-width: 420px;
  margin-bottom: 50px;
}

.team .title h2 {
  margin-bottom: 25px;
}

.team .title img {
  width: 100%;
}

.team .book_desc img {
  margin-top: 24px;
}

.authors {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.author {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.author_img {
  flex: 1 ;
  width: 245px;
}

.author_img img {
  width: 100%;
  border-radius: 100%;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, .2);
}


.author .book_desc img {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, .1);
}

.popular {
  padding: 100px;
  background-color: #f9f9f9;
}

.popular .container {
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

.popular .container a {
  text-decoration: none;
  /* margin: 0 20px; */
}

.popular .container h2 {
  margin-bottom: 50px;
}

.popular .container h4 {
  color: #000;
}

.bookrow {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  margin: 0 20px;
}

.book:hover {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  transform: scale(1.08);
}

.book_desc {
  margin: 24px auto;
}

.book_img {
  width: 200px;
  height: 300px;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, .5);
}

.book_img img {
  width: 100%;
  overflow: hidden;
}

.featured .container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured h2 {
  text-align: center;
  margin-bottom: 50px;
}

.featured .featured_book {
  width: 900px;
  height: 450px;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, .1);
  background-color: #fff;
}

.featured .featured_img {
  width: 300px;
}

.featured .featured_img img {
  height: 100%;
}

.featured .featured_desc {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.featured_desc p {
  margin: 24px;
}

.featured_desc h3, .featured_desc h4 {
  margin: 6px 24px;
  text-align: center;
}

.seemore {
  background-color: #46B6E5;
  width: 160px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seemore:hover {
  background-color: #46A9E5;
}

.featured_desc a {
  font-family: "Roboto";
  font-size: 18px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.featured_desc h4 {
  color: #888888;
}

.footer {
  background-color: #132f44;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer ul {
  list-style-type: none;
  height: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #4B6375;
}

.footer ul li {
  margin: 0 12px;
  font-family: "Lato";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer ul li a {
  text-decoration: none;
  color: #fff;
}

.footer ul li a:hover{
  text-decoration: underline;
}

.copyright {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Lato";
  font-size: 12px;
  letter-spacing: 0.5px;
}

.description .container {
  background-attachment: fixed;
  background-size: auto;
  margin: auto;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description .top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
}

.description .bg1 {
  background-image: url("../images/background_1.png");
  background-size: auto;
}

.description .bg2 {
  background-image: url("../images/background_2.png");
  background-size: auto;
}

.description .bg3 {
  background-image: url("../images/background_3.png");
  background-size: auto;
}

.description .bg4 {
  background-image: url("../images/background_4.png");
  background-size: auto;
}

.description .bg5 {
  background-image: url("../images/background_5.png");
  background-size: auto;
}

.description .bg6 {
  background-image: url("../images/background_6.png");
  background-size: auto;
}

.cover_img {
  width: 252px;
  height: 378px;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, .5);
}

.cover_img img {
  width: 100%;
  overflow: hidden;
}

.description .left  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buylink {
  text-decoration: none;
}

.buy {
  background-color: #000;
  margin-top: 24px;
  padding: 12px;
  width: 240px;
  border-radius: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, .5);
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.buy img {
  margin-left: 6px;
}

.buy:hover {
  background-color: #131314;
}

.description .text {
  width: 580px;
  margin: 50px;
  color: #f9f9f9;
}

.description h3 {
  margin: 10px 0;
  font-weight: bold;
}

.description h5 {
  font-family: "Lato";
  font-weight: normal;
  font-size: 16px;
  margin: 10px 0;
  color: #adadad;
}

.description h4 {
  font-family: "Lato";
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
  color: #FFA200;
  margin: 20px 0;
}

.description p {
  margin: 20px 0;
}

.description a {
  text-decoration: none;
}

.overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.overview .button {
  width: 180px;
  margin: auto 24px;
  border: 1px solid #fff;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  color: #fff;
}

.overview .button:hover {
  background-color: rgba(225, 225, 225, .2);
}

.overview .button img {
  height: 28px;
  margin-right: 12px;
}

.icon {
  height: 90px;
  margin-bottom: 12px;
}

.icon img {
  height: 100%;
}

.overview .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F9F9F9;
  margin: 0 5px;
}

.overview .right h3 {
  margin: 48px auto 24px;
}

.overview .right a {
  text-decoration: none;
}

.buy_button {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  background-color: #BD1535;
  font-family: "Roboto";
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
}

.buy_button:hover {
  background-color: #A80E2B;
}

.overview .middle a {
  flex: 1;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

.overview .top {
  height: 196.666px;
  margin-bottom: 5px;
  background-color: #FFA200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overview .top:hover {
  background-color: #FF8E00;
}

.overview .center {
  height: 196.666px;
  margin-bottom: 5px;
  background-color: #A4D72C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overview .center:hover {
  background-color: #8DD72C;
}

.overview .bottom {
  height: 196.666px;
  background-color: #46B6E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overview .bottom:hover {
  background-color: #46A9E5;
}

.insights .container {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insights_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.insights_list p {
  text-align: center;
  width: 800px;
}

.subheading {
  margin: 48px auto 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  font-size: 24px;
  color: #BD1535;
  letter-spacing: 1px;
}

.section_icon {
  margin-bottom: 12px;
}

.insights .section_icon {
  height: 60px;
}

.quotes .section_icon, .review .section_icon {
  height: 50px;
}

.section_icon img {
  height: 100%;
}

.quotes {
  background-color: #f9f9f9;
}

.quotes .container {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quotes h3 {
  margin-bottom: 48px;
}

.quote {
  background-color: #fff;
  width: 800px;
  margin: 24px auto;
  border-top: solid 10px #46B6E5;
}

.quote p {
  margin: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #393939;
  text-align: center;
}

.review .container {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review .content {
  display: flex;
  width: 800px;
}

.review .review_text {
  text-align: justify;
}

.review .sidebar .rating {
  margin: 24px;
  padding: 24px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
}

.review .sidebar .rating img {
  margin: 24px auto;
}

.review .sidebar .reviewer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 50px 25px;
    background-color: #f9f9f9;
}

.review .sidebar .reviewer h2 {
  margin-bottom: 24px;
}

.review .sidebar .author_img {
  width: 160px;
  height: 160px;
  margin: 0;
}

.review .sidebar .author_img img {
  width: 100%;
  border-radius: 100px;
}

.review .sidebar .book_desc h3 {
  margin-bottom: 0;
}

.review .sidebar .book_desc p {
  margin: 12px;
}


.review h3 {
  margin-bottom: 48px;
}

.review p {
  margin: 24px;
  font-size: 16px;
  line-height: 24px;
}

.subsection .section_icon {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.subsection .section_icon img {
  margin-right: 24px;
}

.search_section {
  background-color: #132F44;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchbar {
    margin: auto;
    padding: 128px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchbar input {
  width: 622px;
  height: 45px;
  border: none;
  border-radius: 45px 0 0 45px;
  font-family: "Lato";
  font-size: 18px;
  padding: 0 24px;
}

.searchbar button {
  width: 130px;
  height: 45px;
  border:none;
  background-color: #46B6E5;
  border-radius: 0 45px 45px 0;
  font-family: "Roboto";
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
}

.searchbar button:hover {
  background-color: #46A9E5;
  cursor: pointer;
}

.bookshelf .container {
  margin: auto;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.bookshelf .container a {
  text-decoration: none;
}

.bookshelf .bookrow {
  margin-bottom: 5%;
}

.bookshelf .bookrow:last-of-type {
  margin-bottom: 0;
}

.bookshelf .bookrow a {
  margin: 0 25px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 400px) {

  .team {
    padding: 50px;
  }

  .authors .author .author_img {
    width: 160px;
  }
}

@media screen and (max-width: 600px) {
  .quote {
    width: 98%;
  }

  .landing {
    background-image: url("../images/leading_img_600.jpg");
    background-position: center center;
  }

  .landing h1 {
    letter-spacing: 0;
  }

  .about .container {
    flex-direction: column;
  }

  .about_point {
    width: 100%;
  }

  .about_img {
    width: 100%;
  }

  .about_img img {
    width: 100%;
    height: auto;
  }

  .description .top {
    padding-top: 50px;
  }
}

@media screen and (max-width: 800px) {

  .navbar .icon {
    margin-right: 50px !important;
  }

  .responsive .icon {
    margin-right: 12px !important;
  }

  .navbar .links {
    margin: 0;
  }

  .navbar a {
    display: none;
  }

  .navbar .icon {
    display: flex;
    align-items: center;
  }

  .navbar .icon i {
    font-size: 24px;
  }

  .navbar .icon:before {
    bottom: 25px !important;
  }

  .responsive {
    height: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: #46B6E5;
  }

  .responsive .links {
    display: flex;
    flex-direction: column;
  }

  .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .responsive .logo {
    margin-top: 24px;
  }

  .responsive a {
    display: flex !important;
    margin-top: 24px !important;
  }

  .responsive a:last-child {
    margin-top: 0 !important;
  }

  .landing {
    background-size: auto 100% !important;
  }

  .searchbar input {
    width: 90%
  }

  .searchbar button {
    padding: 0 12px;
  }

  .landing .container {
    width: 90%;
  }

  .email_input input {
    width: 90%;
    min-width: 80px;
  }

  .email_input button {
    min-width: 40px;
  }

  .about_point {
    margin: 50px auto;
  }

  .about .about_img {
    height: auto;
  }
}

@media screen and (max-width: 850px) {

  .featured .featured_book {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
  }

  .featured .featured_img {
    margin: 20px;
  }

  .featured .featured_img img {
    height: auto;
    width: 100%;
  }

  .featured .featured_desc {
    margin-top: 0;
  }
}

@media screen and (max-width: 900px) {

  .landing {
    background-image: url("../images/leading_img_center.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .team {
    background-image: url("../images/the_idea_background_long.png");
    background-size: cover;
  }

  .authors {
    display: block;
  }

  .author {
    margin: 25px auto;
  }

  .authors .author_img {
    width: 245px;
  }

  .insights_list p {
    width: 96%;
  }

  .review .container .sidebar {
    margin: auto;
  }

  .review .content {
    width: 96%;
    display: flex;
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 952px) {
  .overview {
    display: block;
  }

  .overview a {
    margin: 24px;
  }

  .overview a:first-of-type {
    margin-top: 0;
  }
}

@media screen and (max-width: 960px) {
  .featured .featured_book {
    width: 100%;
    min-width: 300px;
  }

  .featured .book_desc {
    margin: 4%;
  }

  .featured p {
    overflow: scroll;
  }
}

@media screen and (max-width: 1000px) {
  .quote {
    width: 94%;
  }
  .description .text {
    width: 90%;
  }
}

@media screen and (max-width: 1164px) {
  .description .text {
    text-align: center;
  }

  .description .top {
    margin-bottom: 0;
  }

  .landing {
    justify-content: center;
  }

  .landing .container {
    margin-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .author_img {
    width: 180px;
  }
}
