* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: "Roboto";
    src: url("./Roboto-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./Lato-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lato";
    src: url("./Lato-Italic.ttf");
    font-style: italic;
    font-weight: normal;
}

h1 {
  font-family: "Roboto";
  font-size: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  font-family: "Lato";
  font-weight: normal;
  font-size: 20px;
}

p {
  font-family: "Lato";
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
}

.book_desc {
  text-align: center;
}

.book_desc h3 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 20px;
  text-transform: uppercase;
}

.book_desc h4 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
}

.book_desc h5 {
  font-family: "Lato";
  font-weight: normal;
  font-size: 14px;
  color: #888888;
}

.book_desc p {
  font-family: "Lato";
  font-weight: normal;
  font-size: 16px;
}

.navbar {
  height: 100px;
  overflow: hidden;
  width: 100%;
  z-index: 9999;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-fixed-top.scrolled {
  background-color: #46B6E5 !important;
  transition: background-color 200ms linear;
}

.navbar .logo {
  height: 84px;
}

.navbar .logo img {
  height: 100%;
}

.navbar .links{
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navbar .links a {
  margin: 0 12px;
  font-family: "Lato";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.navbar .links a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom: -3px;
  background-color: #FFA200;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar .links a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar .links a .active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar .icon {
  display: none;
}

/* new */

.landing {
  height: 100vh;
  background-image: url("../images/leading_img.png");
  background-attachment: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.landing .container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  margin-right: 50px;
  text-align: center;
}

.email_grab {
  background-color: red;
  padding: 20px;
}

.email_grab p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 24px;
}

.email_input {
  background-color: green;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
}

.email_input  input {
  width: 275px;
  height: 50px;
  border: none;
  border-radius: 50px 0 0 50px;
  padding: 0 25px;
}

.email_input input[type="email"] {
  font-size: 16px;
}

.email_input button {
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 0 50px 50px 0;
  background-color: #46B6E5;
  font-family: "Roboto";
  font-size: 16px;
  letter-spacing: 1px;
  color: #fff;
}

.email_input button:hover {
  background-color: #46A9E5;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .landing {
    justify-content: center;
  }

  .landing .container {
    margin-right: 0;
  }
}

@media screen and (max-width: 800px) {
  .landing {
    background-image: url("../images/leading_img_center.jpg");
    background-position: center center;
  }

  .landing .container {
    width: 90%;
  }

  .email_input input {
    width: 90%;
    min-width: 80px;
  }

  .email_input button {
    min-width: 40px;
  }
}

.about {
  padding: 100px;
  background-color: red;
}

.about .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about_point {
  width: 360px;
  margin: 10px;
  background-color: yellow;
}

.about_point img {
  width: 100%;
}

.about_point .book_desc {
  text-align: center;
}

.team {
  padding: 100px;
  background-image: url("../images/the_idea_background.png");
  background-size: cover;
}

.team .container {
  display: flex;
  flex-direction: column;
}

.team .title {
  text-align: center;
  margin-bottom: 50px;
}

.team .authors {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team .author {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team .author_img  {
  width: 200px;
}

.team .author_img img {
  width: 100%;
  border-radius: 100%;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, .1);
}

.team .book_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team .book_desc img {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, .1);
}

.popular {
  background-color: yellow;
}

.popular .container {
  padding: 100px;
}

.popular a {
  text-decoration: none;
}

.popular h2 {
  text-align: center;
  margin-bottom: 50px;
}

.popular h4 {
  color: #000;
}

.popular .bookrow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.popular .book {
  width: 200px;
  margin: 20px;
}

.popular .book:hover {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  transform: scale(1.08);
}

.popular .book img {
  width: 100%;
  box-shadow: 2px 8px 10px rgba(0, 0, 0, .5);
}

.featured {
  background-color: red;
}

.featured .container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured h2 {
  text-align: center;
  margin-bottom: 50px;
}

.featured .featured_book {
  width: 900px;
  height: 450px;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, .1);
  background-color: #fff;
}

.featured .featured_img {
  width: 300px;
}

.featured .featured_img img {
  height: 100%;
}

.featured .featured_desc {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  .featured .featured_book {
    width: 90%;
    height: 300px;
  }

  .featured .featured_img {
    width: 200px;
  }

  .featured .featured_desc {
    overflow: scroll;
  }
}
